<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Video Bagel - Animated Video Content for Branding, Bonding and More Sales</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta description="We are an animation company that produces explainer videos, video ads, webinar videos that convert.">

	<meta property="og:title" content="We build high converting video ads and explainer videos" />
	<meta property="og:image" content="https://www.videobagel.com/assets/videobagel_og.jpg" />
	<meta property="og:url" content="https://www.videobagel.com/?utm_source=og&utm_medium=share" />
	<meta property="og:site_name" content="Video Bagel - Animated Video Ads and Explainer Videos" />
	<meta property="og:description" content="Too busy to manage people to create your marketing videos?" />
	<meta property="og:type" content="website" />

	<meta name="google-site-verification" content="C8RFkBeXHIVTI2FIybt7LZ_ol_7LkA0nZKCsVdAily8" />

	<% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
		<meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
		<% } %>
			<% for (var chunk of webpack.chunks) { %>
				<% if (chunk.names.length === 1 && chunk.names[0] === 'polyfills') continue; %>
					<% for (var file of chunk.files) { %>
						<% if (htmlWebpackPlugin.options.preload && file.match(/\.(js|css)$/)) { %>
							<link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
							<% } else if (file.match(/manifest\.json$/)) { %>
								<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath + file %>">
								<% } %>
									<% } %>
										<% } %>
</head>

<body>
	<%= htmlWebpackPlugin.options.ssr({
			url: '/'
		}) %>
		<script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
		<script>window.fetch || document.write('<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>')</script>
		<!-- Google Tag Manager -->
		<script>(function (w, d, s, l, i) {
							w[l] = w[l] || []; w[l].push({
								'gtm.start':
									new Date().getTime(), event: 'gtm.js'
							}); var f = d.getElementsByTagName(s)[0],
								j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
									'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
						})(window, document, 'script', 'dataLayer', 'GTM-MP2LTRG');</script>
		<!-- End Google Tag Manager -->
</body>

</html>