@import '../../style/helper';

.companies {
  padding: 2em 0;
}

.headline {
  margin-top: 0;
}

.icons {
  display: block;
  text-align: center;

  & > div {
    display: inline-block;
  }

  img {
    max-height: 40px;
    max-width: 125px;
    width: auto;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
    opacity: 0.4;
    display: inline-block;
    margin: 1em;

    &:hover {
      filter: grayscale(0%);
      opacity: 1;
    }

    @include breakpoint(mobile) {
      max-height: 40px;
      max-width: 100px;
    }
  }

  .googleDevelopers {
    max-width: 300px;

    @include breakpoint(mobile) {
      max-width: 70%;
    }
  }
}
