@import '../../style/helper';

.guarantee {
  margin: 50px auto;
  max-width: 75%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr;
  padding: 0 2em;
  align-items: center;

  @include breakpoint(mobile) {
    display: block;
    text-align: center;
    padding: 0;
    max-width: 100%;
  }

  img {
    width: 100%;
    max-height: 150px;
  }

  .guaranteeCopy p {
    font-size: 18px;
    @include breakpoint(mobile) {
      font-size: 16px;
    }
  }

  .guaranteeHeadline {
    text-align: left;
    font-family: $headline-font;
    color: $dark-gray;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 22px;

    @include breakpoint(mobile) {
      text-align: center;
      font-size: 20px;
    }
  }
}
