$white: #fafafa;
$green: #5bd8a6;
$black: #333;
$red: rgba(255, 0, 0, 0.6);
$blue: lightskyblue;
$pink: magenta;
$yellow: yellow;
$orange: #ff6f2a;
$purple: #35335c;
$turquoise: #79dede;
$darker-gray: #546e7a;
$dark-gray: #cacaca;
$gray: #eceff1;
$light-gray: #f5f7f8;
$nav-link: rgba($black, 0.33);

$footer-link: rgba($darker-gray, 0.5);
$footer-link-hover: $darker-gray;

$faq-headline: $footer-link;
