@mixin button {
	font-size: 20px;
	background: rgba($green, 0.65);
	border: 0 none;
	border-radius: 2px;
	color: $white;
	margin: 3px;
	padding: 12px 24px 10px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	white-space: normal;
	width: auto;
	display: inline-block;
	font-family: $headline-font;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
	&:active,
	&:focus,
	&:visited,
	&:hover {
		color: $white;
	}

	&:hover {
		background: rgba($green, 1);
		box-shadow: 0 1px 15px 0 rgba(84, 110, 122, 0.4);
	}

	@include breakpoint(mobile-small) {
		font-size: 16px;
		width: 100%;
	}
}
