@import '../../style/helper';

.formWrapper {
  form {
    display: grid;
    grid-gap: 20px;
  }

  .buttonWrapper {
    text-align: center;
    width: 100%;
  }

  .consent {
    text-align: center;

    input {
      width: auto;
    }
    label {
      display: inline;
      font-weight: normal;
      color: $black;
    }
  }
}