@import '../../style/helper';

.consent {
  text-align: center;
  input {
    width: auto;
  }
  label {
    display: inline-block;
    font-weight: normal;
    color: $black;
  }
}

.questionnaireWrapper {
  & > form > div {
    margin-bottom: 1em;
  }
}
