@import '../../style/helper';

.footer > div {
  text-align: center;
  padding: 40px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @include breakpoint(mobile) {
    display: block;
  }

  ul {
    padding: 0;
    list-style-type: none;

    li {
      text-align: right;

      @include breakpoint(mobile) {
        text-align: center;
      }
    }
  }
}

.footerAddress {
  text-align: left;
  color: $darker-gray;

  @include breakpoint(mobile) {
    text-align: center;
  }

  h3 {
    text-align: left;
    margin: 0;
    line-height: 34px;
    font-size: 22px;
    color: $darker-gray;

    @include breakpoint(mobile) {
      text-align: center;
    }
  }

  address {
    margin-bottom: 5px;
  }

  p {
    line-height: 1.25;
    margin: 0;
    color: $darker-gray;
    font-size: 16px;
  }
}

.footerLinks {
  margin: 0;
}

.footerLink {
  color: $footer-link;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  text-align: right;
  line-height: 1.5;
  &:hover {
    color: $footer-link-hover;
  }
}

.copyright {
  font-size: 12px;
  color: $footer-link;
  grid-row: 3;
  grid-column-end: span 3;
  a {
    color: $footer-link;
    text-decoration: none;
  }
}

.socialLinks {
  max-height: 50px;
  width: 100%;
  margin: 0;
  max-width: 100%;
  text-align: right;

  @include breakpoint(mobile) {
    text-align: center;
    margin: 1em 0;
  }

  a {
    &:hover img {
      filter: grayscale(0%);
    }
  }

  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  img {
    max-width: 30px;
    width: 30px;
    filter: grayscale(100%);
    transition: 0.5s all ease-in-out;
  }
}
