@import '../../style/helper';

.checkmarkWrapper {
	svg {
		width: 200px;
		display: block;
		margin: 40px auto;
	}
}

.pathCircle {
		stroke-dasharray: 1000;
		stroke-dashoffset: 0;
		animation: dash .9s ease-in-out;
}
.pathCheck {
	stroke-dasharray: 1000;
	animation: dash-check .9s .35s ease-in-out forwards;
	stroke-dashoffset: -100;
}

@keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}