@import '../../style/helper';

.memberWrapper {
	display: grid;
	align-items: center;
	grid-gap: 20px;
	padding: 25px 150px;

	@include breakpoint(mobile) {
		padding: 25px;
	}

	&:nth-child(1) {
		grid-template-columns: 3fr 1fr;
		background: $darker-gray;

		@include breakpoint(mobile) {
			grid-template-columns: 1fr;
		}
	}

	&:nth-child(3) {
		grid-template-columns: 1fr 3fr;
		background: $darker-gray;
		& > div:nth-child(1) {
			order: 2;

			@include breakpoint(mobile) {
				order: unset;
			}
		}

		@include breakpoint(mobile) {
			grid-template-columns: 1fr;
		}
	}

	&:nth-child(5) {
		grid-template-columns: 3fr 1fr;
		background: $darker-gray;

		@include breakpoint(mobile) {
			grid-template-columns: 1fr;
		}
	}

	&:nth-child(7) {
		grid-template-columns: 1fr 3fr;
		background: $darker-gray;

		& > div:nth-child(1) {
			order: 2;

			@include breakpoint(mobile) {
				order: unset;
			}
		}

		@include breakpoint(mobile) {
			grid-template-columns: 1fr;
		}
	}

	.member {
		color: $white;
		img {
			display: block;
			width: 100%;
			max-width: 150px;
			margin: 0 auto;
		}

		.name {
			font-size: 22px;
			font-weight: bold;
		}
		.location,
		.position,
		.name {
			display: block;
			text-align: center;
			line-height: 1.25;
		}

		.location {
			display: none;
		}

		.location,
		.position {
			opacity: 0.5;
		}
	}

	.copy {
		color: $white;
		p {
			font-size: 22px;

			@include breakpoint(mobile) {
				font-size: 18px;
			}

			em {
				color: $white;
			}
		}
		h2 {
			margin: 10px 0 5px;
			font-size: 36px;
			text-align: left;
			font-weight: lighter;

			@include breakpoint(mobile) {
				font-size: 24px;
			}

			em {
				font-family: $headline-font;
				white-space: nowrap;
			}
		}
	}
}

.completedWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	margin-bottom: 3em;

	@include breakpoint(mobile) {
		grid-template-columns: 1fr;
		grid-gap: 50px;
	}
	img {
		width: 100%;
		max-height: 100px;
		margin: 0 auto;
		display: block;
	}

	p {
		text-align: center;
		color: $darker-gray;
		font-weight: bold;
		margin: 0;
	}
}
