@import 'helper';

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: $white;
	font-family: $main-font;
	font-weight: 300;
	color: $black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

a {
	color: darken($green, 20%);
	text-decoration: none;

	&:hover {
		color: $green;
	}
}

#app {
	height: 100%;
	&.hide-mobile-tabs {
		@include breakpoint(mobile) {
			position: relative;
			bottom: 0;
		}
	}
	@include breakpoint(mobile) {
		/*
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 60px;
    overflow-x: auto;
    height: auto;
    */
	}
}

#usp {
	padding: 25px 0;
	h1 {
		margin-top: 0;
	}
}

#team,
#reviews {
	background: $light-gray;
}

#faq h2 {
	text-align: center;
}

#benefits {
	.container {
		padding: 56px 20px 0;
	}

	.LazyLoad.is-visible {
		display: inline-block;
	}
}

#companies {
	padding: 25px 0 50px;
}

#how {
	padding-bottom: 25px;
}

#content {
	padding: 0 0 50px;
}

#reviews {
	padding: 50px 0 50px;

	h2 {
		margin: 0;
		padding: 1em 0 0;
	}

	@include breakpoint(mobile) {
		padding: 0 0 50px;
	}
}

#pricing {
	.container {
		@include breakpoint(mobile) {
			padding: 0;
		}
	}
}

.container {
	padding: 0 20px;
	width: 56em;
	margin: 0 auto;

	@include breakpoint(mobile) {
		width: 100%;
		padding: 0 10px;
	}
}

p {
	line-height: $line-height;
	font-size: $main-font-size;

	em {
		font-weight: bold;
		font-style: normal;
		color: $black;
	}

	@include breakpoint(mobile) {
		font-size: $mobile-font-size;
	}
}

.bagel {
	animation: spin 4s linear infinite;
}

footer {
	background: $gray;
	margin-top: 2em;
}

footer .bagel {
	max-width: 120px;
	max-height: 120px;
	width: 100%;
	margin: 0 auto;

	@include breakpoint(mobile) {
		max-width: 60px;
		max-height: 60px;
	}
}

/* Headlines */
h1,
h2,
h3,
h4 {
	font-family: $headline-font;
	text-align: center;
	line-height: 1.25;
}

h1 {
	font-size: 32px;

	@include breakpoint(mobile) {
		font-size: 22px;
	}
	em {
		color: $green;
		font-style: normal;
		white-space: nowrap;
	}
}

h2 {
	font-weight: normal;
	font-family: $main-font;
	font-size: 28px;
	margin: 35px 0;
	em {
		font-family: $headline-font;
		font-style: normal;
	}

	@include breakpoint(mobile) {
		font-size: 24px;
		text-align: center;
		margin: 1em 0;
	}
}

/* Animations */
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Fonts */
@font-face {
	font-family: 'montserratbold';
	src: url('/assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
		url('/assets/fonts/montserrat-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

/* Range Slider */
.input-range {
	margin: 1em 0;

	@include breakpoint(mobile) {
		margin: 1em 0 2em;
	}
}
.input-range__slider {
	appearance: none;
	background: $green;
	border: 1px solid $green;
	border-radius: 100%;
	cursor: pointer;
	display: block;
	height: 1.5rem;
	margin-left: -0.5rem;
	margin-top: -0.9rem;
	outline: none;
	position: absolute;
	top: 50%;
	transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
	width: 1.5rem;
}
.input-range__slider:active {
	transform: scale(1.3);
}
.input-range__slider:focus {
	box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}
.input-range--disabled .input-range__slider {
	background: #cccccc;
	border: 1px solid #cccccc;
	box-shadow: none;
	transform: none;
}

.input-range__slider-container {
	transition: left 0.3s ease-out;
}

.input-range__label {
	display: none;
}

.input-range__label--min,
.input-range__label--max {
	bottom: -1.4rem;
	position: absolute;
}

.input-range__label--min {
	left: 0;
}

.input-range__label--max {
	right: 0;
}

.input-range__label--value {
	position: absolute;
	top: -1.8rem;
}

.input-range__label-container {
	left: -50%;
	position: relative;
}
.input-range__label--max .input-range__label-container {
	left: 50%;
}

.input-range__track {
	background: #eeeeee;
	border-radius: 0.3rem;
	cursor: pointer;
	display: block;
	height: 0.3rem;
	position: relative;
	transition: left 0.3s ease-out, width 0.3s ease-out;
}
.input-range--disabled .input-range__track {
	background: #eeeeee;
}

.input-range__track--background {
	left: 0;
	margin-top: -0.15rem;
	position: absolute;
	right: 0;
	top: 50%;
}

.input-range__track--active {
	background: rgba($green, 0.25);
}

.input-range {
	height: 1rem;
	position: relative;
	width: 100%;
}

/* Active campaign form START */
.form {
	background-color: $light-gray;
	padding: 25px;

	& > div {
		@include breakpoint(mobile) {
			margin-bottom: 1em;
		}
	}

	@include breakpoint(mobile) {
		padding: 20px;
	}

	label {
		display: block;
		color: $darker-gray;
		font-size: 16px;
		font-weight: bold;
		padding-bottom: 5px;
		margin-bottom: 0;
	}

	.button-wrapper {
		grid-column-end: span 2;
		text-align: center;
		width: 100%;
	}
	.submit {
		@include button;

		&.highlight {
			background: rgba($red, 0.65);

			&:hover {
				background: rgba($red, 1);
			}
		}
	}

	label {
		display: block;
		color: $darker-gray;
		font-size: 16px;
		font-weight: bold;
		padding-bottom: 5px;
	}
	input,
	textarea,
	select {
		background-color: #fff;
		border: 1px solid #cfd8dc;
		border-radius: 2px;
		color: #263238;
		font-weight: 400;
		padding: 9px 14px 8px;
		min-height: 40px;
		font-size: 14px;
		line-height: 1.42857143;
		transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		outline: none;
		font-family: $main-font;
		width: 100%;

		&:focus {
			border-color: $green;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 216, 166, 0.65);
		}
	}

	select {
		height: 40px;
	}

	textarea {
		height: 100px;
		min-height: 100px;
		min-width: 100%;
		max-width: 100%;
	}

	/* Checkbox */
	input[type='radio'],
	input[type='checkbox'] {
		width: auto;
		height: auto;
		margin: 3px 15px;
		box-shadow: none;
		max-height: 28px;
		min-height: 28px;
	}
	._checkbox-radio {
		display: block;

		label {
			display: inline;
			font-weight: normal;
		}
	}

	.radio-row {
		display: flex;
		align-items: center;
		label {
			color: $black;
			font-weight: normal;
			padding-bottom: 0;
		}
	}
}

/* Active campaign contact form END */

/* EU Cookie law style */
.cookieStyle {
	position: fixed;
	bottom: 0;
	background: rgba($darker-gray, 0.93);
	color: $white;
	width: 100vw;
	z-index: 2;
	padding: 15px;
	font-weight: bold;

	.cookie-message {
		display: block;
		padding: 0 140px 0 15px;
	}

	.button-close {
		border: 2px solid $white;
		background: transparent;
		right: 30px;
		color: $white;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		position: absolute;
		top: calc(50% - 12.5px);
		font-weight: bold;
		transition: all 0.25s ease-in-out;

		&:hover {
			color: $darker-gray;
			background: $white;
		}
	}

	.cookie-link {
		margin-left: 5px;
		color: $black;
	}

	@include breakpoint(mobile) {
		bottom: 50%;
		width: 300px;
		left: calc(50% - 150px);
		padding: 25px;
		background: $darker-gray;
		box-shadow: 0 0 500px 100px $darker-gray;
		.cookie-message {
			padding: 0;
		}

		.button-close {
			display: block;
			margin: 1em auto 0;
			position: static;
		}
	}
}

/* Drift */
#drift-widget {
	@include breakpoint(mobile) {
		bottom: 70px !important;
	}
}
