@import '../../style/helper';

.orderForm {
  text-align: center;
  margin: 1em 0;
  padding: 1em 0 2.5em;
  background-color: $light-gray;

  @include breakpoint(mobile) {
    background-color: #fff;
  }

  label {
    margin-bottom: 10px;
    margin-top: 1em;
    display: inline-block;
    font-family: $headline-font;
    font-size: 28px;
    color: $darker-gray;
    line-height: 35px;

    @include breakpoint(mobile) {
      font-size: 24px;
    }

    &:before {
      font-weight: bold;
      float: left;
      width: 35px;
      height: 35px;
      line-height: 35px;
      vertical-align: middle;
      text-align: center;
      border-radius: 100%;
      background: $darker-gray;
      color: #fff;
      font-size: 26px;
      margin-right: 15px;

      @include breakpoint(mobile) {
        float: none;
        display: inline-block;
      }
    }

    &:nth-of-type(1):before {
      content: '1';
    }

    &:nth-of-type(2):before {
      content: '2';
    }

    &:nth-of-type(3) {
      opacity: 0.2;
      &:before {
        content: '3';
      }
    }
  }
}

.questionnaire {
  opacity: 0.2;
}

.selectPackageWrapper {
  display: flex;
  justify-content: center;

  @include breakpoint(mobile) {
    display: block;
  }
}

.orderBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(mobile-small) {
    display: block;
  }

  .separator {
    margin: 0 7px;
    color: $dark-gray;
    font-weight: bold;
    text-transform: uppercase;
    @include breakpoint(mobile-small) {
      display: block;
      margin: 7px 0;
    }
  }
}

.payPalBtn {
  background: $white;
  padding: 10px;
  height: 54px;
  display: inline-block;
  border: 1px solid $dark-gray;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  img {
    width: 117px;
  }

  @include breakpoint(mobile-small) {
    display: block;
    width: 100%;
  }

  &:hover {
    box-shadow: 0 1px 15px 0 rgba(84, 110, 122, 0.4);
  }
}

.btn {
  @include button;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  img {
    width: 30px;
    margin-right: 10px;
  }
}

.packageSelect {
  background-color: #fff !important;
  border: 1px solid #cfd8dc !important;
  border-radius: 2px !important;
  color: #263238 !important;
  font-weight: 400 !important;
  padding: 9px 14px 8px !important;
  height: 40px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  outline: none;
  font-family: $main-font;
  margin-bottom: 10px;

  &:focus {
    border-color: $green !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 216, 166, 0.65);
  }

  @include breakpoint(mobile) {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }
}
