@import '../../style/helper';

.madeInEU {
  filter: grayscale(100%);
  opacity: 0.4;
  max-width: 200px;
  margin: 30px 15px 0;

  @include breakpoint(mobile) {
    max-width: 150px;
  }
}

.americanCopywriters {
  filter: grayscale(100%);
  opacity: 0.4;
  max-width: 350px;
  margin: 30px 15px 0;

  @include breakpoint(mobile) {
    max-width: 250px;
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(mobile) {
    display: block;

    img {
      display: block;
      margin: 1em auto;
    }
  }
}