@import '../../style/helper';


.preHeader {
  text-align: center;
  & > svg {
    width: 100%;
  }
}

.subHead {
  text-align: center;
  font-weight: bold;
}

.steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: $gray;
  padding: 15px 0;

  @include breakpoint(mobile) {
		grid-template-columns: repeat(1, 1fr);
  }
}

.step {
  padding: 25px;

  &:nth-child(2) {
    background: $white;
    box-shadow: 0 0 15px 0 #ddd;
  }
}

.icon {
  text-align: center;
  svg {
    width: auto;
    height: 100px;
  }
}

.iconGray {
  text-align: center;
  filter: grayscale(100%);
  svg {
    width: auto;
    height: 100px;
  }
}

.stepHeadline {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: $darker-gray;
  padding-bottom: 15px;
  border-bottom: 1px solid lighten($dark-gray, 10%);
}

.stepText {
  color: $darker-gray;
  line-height: 1.15;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}