@import '../../style/helper';

.quote {
	margin-bottom: 0;
	line-height: 1.1;
}

.quoteName {
	text-align: center;
	margin-top: 15px;
	font-size: 26px;
	font-family: $headline-font;
	color: $darker-gray;

	@include breakpoint(mobile) {
		font-size: 22px;
	}
}

.position {
	text-align: center;
	font-size: 22px;
	font-style: italic;
	color: $darker-gray;

	@include breakpoint(mobile) {
		font-size: 16px;
	}
}

.company {
	& > div {
		display: block;
	}
	img {
		display: block;
		width: auto;
		max-height: 30px;
		margin: 5px auto;

		@include breakpoint(mobile) {
			max-height: 20px;
		}
	}
}

.arrow {
	float: left;
	margin-left: 25px;
	width: 0;
	height: 0;
	border-top: 30px solid rgba(0, 0, 0, 0.04);
	border-left: 30px solid transparent;
	border-right: 0px solid transparent;
}

.process {
	list-style-type: none;
	margin: 0 150px;
	padding-left: 0;

	@include breakpoint(mobile) {
		margin: 0;
	}

	li:nth-child(1) {
		&:before {
			background: rgba($black, 0.3);
		}
		h3 {
			background-color: $pink;

			&:before {
				top: 20%;
				@include breakpoint(mobile) {
					top: 80%;
				}
			}
		}
	}

	li:nth-child(2) h3 {
		background-color: $purple;

		&:after {
			background-image: url('/assets/death-star.svg');
			content: '';
			position: absolute;
			width: 200%;
			height: 1000%;
			left: -300%;
			top: -70%;
			z-index: 1;
			transform: rotate(30deg);
			@include breakpoint(mobile) {
				left: -100%;
				top: 80%;
				width: 1000%;
			}
		}

		&:before {
			transform: rotate(-44deg);
			top: -140px;
			background: rgba($white, 0.66);

			@include breakpoint(mobile) {
				background: none;
			}
		}
	}

	li:nth-child(3) h3 {
		background-color: $turquoise;

		&:after {
			background-image: url('/assets/i-like-food.svg');
			background-position: 40% 40%;
			content: '';
			position: absolute;
			width: 200%;
			height: 1000%;
			left: -150%;
			top: -50%;
			z-index: 1;
			transform: rotate(22deg);

			@include breakpoint(mobile) {
				left: -100%;
				top: 80%;
				width: 1000%;
			}
		}

		&:before {
			transform: rotate(-69deg);
			top: -160px;
			background: rgba($white, 1);
		}
	}

	li:nth-child(4) h3 {
		background-color: $red;

		&:after {
			background-image: url('/assets/lips.svg');
			content: '';
			position: absolute;
			width: 200%;
			height: 1000%;
			left: -250%;
			top: -50%;
			z-index: 1;
			transform: rotate(30deg);

			@include breakpoint(mobile) {
				left: -100%;
				top: 80%;
				width: 1000%;
			}
		}

		&:before {
			transform: rotate(22deg);
			top: -100px;
			right: 70px;
			background: rgba($white, 0.25);

			@include breakpoint(mobile) {
				background: none;
			}
		}
	}

	li:nth-child(5) h3 {
		background-color: $green;

		&:after {
			background-image: url('/assets/bubbles.svg');
			content: '';
			position: absolute;
			width: 200%;
			height: 1000%;
			left: -250%;
			top: -50%;
			z-index: 1;
			transform: rotate(30deg);

			@include breakpoint(mobile) {
				left: -100%;
				top: 80%;
				width: 1000%;
			}
		}

		&:before {
			transform: rotate(93deg);
			background: rgba($white, 0.25);
			background: rgba(250, 250, 250, 0.8);
			top: -120px;
			@include breakpoint(mobile) {
				background: none;
			}
		}
	}

	li:nth-child(6) h3 {
		background-color: $blue;

		&:after {
			background-image: url('/assets/squares-in-squares.svg');
			content: '';
			position: absolute;
			width: 200%;
			height: 1000%;
			left: -250%;
			top: -100%;
			z-index: 1;
			transform: rotate(30deg);

			@include breakpoint(mobile) {
				left: -100%;
				top: 80%;
				width: 1000%;
			}
		}
	}

	h3 {
		padding: 2em 0 0 0;
		line-height: 1;
		font-size: 24px;
		text-align: left;
		text-align: center;
		color: $white;
		position: relative;
		overflow: hidden;

		@include breakpoint(mobile) {
			font-size: 22px;
			min-height: 100px;
			width: 100%;
			margin: 0;
			display: flex;
			align-items: center;
			padding: 0;
			justify-content: center;
		}

		&:before {
			position: absolute;
			width: 30px;
			height: 700px;
			background: #fafafa;
			background-repeat: no-repeat;
			content: ' ';
			transform: rotate(61deg);
			overflow: hidden;
			top: -40px;
		}
	}

	p {
		margin-left: 50px;
		z-index: 1;
		@include breakpoint(mobile) {
			margin-left: 0;
		}
	}

	li {
		display: grid;
		grid-template-columns: 50% 50%;
		counter-increment: customlistcounter;
		text-align: left;
		position: relative;
		grid-gap: 20px;

		@include breakpoint(mobile) {
			grid-template-columns: 100%;
		}

		&:before {
			content: counter(customlistcounter) ' ';
			z-index: 1;
			font-weight: bold;
			position: absolute;
			left: calc(100% / 4 - 25px);
			top: calc(55% - 25px);
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			border-radius: 100%;
			background: rgba($white, 0.3);
			color: #fff;
			font-size: 38px;

			@include breakpoint(mobile) {
				width: 30px;
				height: 30px;
				line-height: 30px;
				font-size: 18px;
				top: calc(50px - 15px);
				left: 25px;
			}
		}
	}
}

.inlineLogo {
	height: 14px;
}

.inlineLogoLarge {
	height: 38px;
}

.benefits {
	list-style-type: none;
	margin: 100px 0 0;
	padding-left: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 25px;
	grid-auto-rows: minmax(100px, auto);

	@include breakpoint(mobile) {
		display: block;
	}

	li {
		position: relative;
		padding: 10px 20px;
		background: #fff;
		box-shadow: 0 0 25px rgba($black, 0.1);
		border-radius: 25px;

		@include breakpoint(mobile) {
			margin-top: 2em;
		}

		&:before {
			content: ' ';
			background-color: #fff;
			background-size: 40px 40px;
			background-repeat: no-repeat;
			background-position: 50%;
			position: absolute;
			text-align: center;
			width: 70px;
			height: 70px;
			border-radius: 100%;

			@include breakpoint(mobile) {
				position: absolute;
				display: inline-block;
				background-size: 25px;
				height: 40px;
				width: 40px;
			}
		}

		p {
			margin-bottom: 5px;
		}
	}

	li:nth-child(1):before {
		background-image: url(/assets/stopwatch.svg);
	}

	li:nth-child(2):before {
		background-image: url(/assets/tap.svg);
	}

	li:nth-child(3):before {
		background-image: url(/assets/bounce-rate.svg);
	}

	li:nth-child(4):before {
		background-image: url(/assets/churn.svg);
	}

	li:nth-child(5):before {
		background-image: url(/assets/buy-button.svg);
		background-size: 50px 50px;
		@include breakpoint(mobile) {
			background-size: 30px 30px;
		}
	}

	li:nth-child(6):before {
		background-image: url(/assets/crowdfunding.svg);
	}

	li:nth-child(7):before {
		background-image: url(/assets/whiteboard.svg);
	}

	li:nth-child(8):before {
		background-image: url(/assets/growth.svg);
	}

	h2 {
		margin: 0;
		text-align: left;
		position: relative;
		font-family: $headline-font;
		font-size: 20px;
		margin: 10px 0 0 80px;
		font-size: 20px;

		@include breakpoint(mobile) {
			font-size: 20px;
			margin: 10px 0 0 50px;
		}
	}

	p {
		@include breakpoint(mobile) {
			margin: 0 0 2em 0;
		}
	}
}

.testimonialSection {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;

	@include breakpoint(mobile) {
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}
}

.testimonialSectionBottom {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;

	@include breakpoint(mobile) {
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}
}

.faq {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 80px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;

	@include breakpoint(mobile) {
		display: block;
	}

	.tab {
		position: relative;
		margin-bottom: 5px;
		width: 100%;
		color: $black;
		overflow: hidden;
		box-shadow: 0 0 15px $gray;
	}

	input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}

	label {
		position: relative;
		display: block;
		padding: 0 0 0 1em;
		color: $black;
		background: $gray;
		font-family: $headline-font;
		line-height: 40px;
		height: 40px;
		cursor: pointer;
		transition: all 0.25s ease-in-out;
		&.highlightLabel {
			color: $red;
		}

		@include breakpoint(mobile) {
			font-size: 12px;
		}
	}

	input[type='radio']:checked + label {
		background: rgba($darker-gray, 0.5);
		color: $white;
	}

	input[type='radio']:checked + .highlightLabel {
		background: rgba($red, 0.5);
		color: $white;
	}

	.tabContent {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.35s;
		p {
			margin: 0.5em 1em;
			font-size: 16px;
			@include breakpoint(mobile) {
				margin: 3px 5px;
				font-size: 14px;
			}
		}
	}

	input:checked ~ .tabContent {
		max-height: 14em;
	}

	/* Icon */
	label::after {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 24px;
		opacity: 0.33;
		text-align: center;
		transition: all 0.35s;
	}

	input[type='radio'] + label::after {
		content: '+';
	}

	input[type='radio']:checked + label::after {
		transform: rotate(315deg);
		color: $white;
		opacity: 1;
	}
}

.trustIconList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style-type: none;
	padding: 0;
	margin: 0;
	li {
		text-align: center;
		p {
			font-size: 14px;
			text-transform: uppercase;
			font-family: $headline-font;
			color: rgba($darker-gray, 0.75);
			margin: 1em 0 0;

			@include breakpoint(mobile) {
				font-size: 10px;
			}
		}
		img {
			max-height: 60px;
			@include breakpoint(mobile) {
				max-height: 50px;
			}
		}
	}
}

.buttonWrapper {
	text-align: center;
	margin-top: 25px;
}
.btn {
	font-size: 20px;
	background: rgba($green, 0.65);
	border: 0 none;
	border-radius: 2px;
	color: $white;
	margin: 3px;
	padding: 12px 24px 10px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	white-space: normal;
	width: auto;
	display: inline-block;
	font-family: $headline-font;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
	&:active,
	&:focus,
	&:visited,
	&:hover {
		color: $white;
	}

	&:hover {
		background: rgba($green, 1);
		box-shadow: 0 1px 15px 0 rgba(84, 110, 122, 0.4);
	}

	@include breakpoint(mobile-small) {
		font-size: 16px;
		width: 100%;
	}

	&.ghost {
		background: transparent;
		border: 4px solid rgba($purple, 0.65);
		color: rgba($purple, 0.65);

		&:hover {
			border: 4px solid transparent;
			background: $purple;
			color: $white;
			box-shadow: none;
		}
	}
}

.offerWrapper {
	border-radius: 3px;
	top: -60px;
	position: relative;
	box-shadow: 0 7px 50px 0 rgba(38, 50, 56, 0.15);
	padding-bottom: 15px;
	background: #fff;

	@include breakpoint(mobile) {
		top: 0;
		box-shadow: none;
		padding: 0 15px 35px;
	}

	h2 {
		margin: 1em 0 0 0;
		color: $green;
		font-family: $headline-font;
		text-align: center;
	}
}

@keyframes pulsate {
	0% {
		opacity: 0.25;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0.25;
	}
}

.offers {
	display: flex;
	padding: 0 35px;
	justify-content: center;

	@include breakpoint(mobile) {
		padding: 0;
	}
}

.featuresWrapper {
	text-align: center;
}

.features {
	list-style-type: none;
	padding: 0;
	text-align: initial;
	display: inline-block;
	margin-top: 1em;

	li {
		font-size: 20px;
		line-height: 1.5;

		@include breakpoint(mobile) {
			font-size: 14px;
			line-height: 2.25;
		}

		&:after {
			content: ' ';
			background-size: 15px 15px;
			background-repeat: no-repeat;
			background-position: 0% 100%;
			height: 15px;
			width: 15px;
			display: inline-block;
			vertical-align: middle;
			background-image: url('/assets/checkmark.svg');
			margin-left: 15px;
		}

		&.addition:before {
			background-image: url('/assets/checkmark_black.svg');
		}

		&.excluded {
			&:before {
				background-image: url('/assets/close.svg');
				opacity: 0.6;
				width: 20px;
				height: 20px;
				background-size: 20px 20px;
				margin: 0 10px 0 3px;
			}
			&:after {
				content: '';
				display: none;
			}
		}

		&:before {
			content: ' ';
			background-size: 25px 25px;
			background-repeat: no-repeat;
			background-position: 0% 100%;
			height: 25px;
			width: 25px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}

		&:nth-child(1):before {
			background-image: url('/assets/pen.svg');
		}

		&:nth-child(2):before {
			background-image: url('/assets/microphone.svg');
		}

		&:nth-child(3):before {
			background-image: url('/assets/storyboard.svg');
		}

		&:nth-child(4):before {
			background-image: url('/assets/videoplayer.svg');
		}

		&:nth-child(5):before {
			background-image: url('/assets/1080p.svg');
		}

		&:nth-child(6):before {
			background-image: url('/assets/revision.svg');
		}

		&:nth-child(7):before {
			background-image: url('/assets/clock.svg');
		}

		&:nth-child(8):before {
			background-image: url('/assets/price.svg');
		}

		.tooltip {
			cursor: pointer;
			margin: 0 5px;
			position: relative;

			&:before {
				content: ' ';
				color: $white;
				width: 18px;
				height: 18px;
				display: inline-block;
				top: 3px;
				position: absolute;
				background-image: url(/assets/question.svg);
				background-size: 18px 18px;
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}

			&:after {
				border-radius: 4px;
				z-index: 2;
				color: $white;
				background: $black;
				font-size: 12px;
				font-family: sans-serif;
				font-weight: bold;
				content: attr(data-tooltip);
				right: -5px;
				top: 25px;
				padding: 5px 10px;
				white-space: pre-wrap;
				width: 200px;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				transition: 1s all;
				transition-delay: 3s;
			}

			&:hover:after {
				transition-delay: 0s;
				visibility: visible;
				opacity: 1;
				display: block;
				box-shadow: 0 0 50px $dark-gray;
			}
		}
	}
}

.demoVideos {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	grid-auto-rows: minmax(100px, auto);

	@include breakpoint(mobile) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.contentVideos {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	grid-auto-rows: minmax(100px, auto);

	@include breakpoint(mobile-small) {
		display: block;
		margin: 0 50px;

		& > div {
			margin-bottom: 10px;
		}
	}
}

.demoVideosCrowdfunding {
	display: block;
	max-width: 400px;
	margin: 0 auto;
}

.addition {
	font-weight: bold;
}

.orderHeadline {
	font-size: 22px;
}

.promotion {
	font-size: 18px;
	text-align: center;
	line-height: 1.2;
	max-width: 500px;
	margin: 1em auto 0;
}

.doubleArrowDown {
	text-align: center;
	margin: 2em 0;
	animation-name: bounce;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-duration: 2s;

	img {
		width: 30px;
		cursor: pointer;
	}
}

.contactFormWrapper {
	h2 {
		color: $black;
		font-weight: normal;
		font-family: $main-font;
		padding: 0;
		text-align: center;
	}
}

.appScreen {
	ul {
		list-style-type: none;
		text-align: center;
		padding: 0;
	}

	li {
		display: inline-block;
		margin: 1em;
		@include breakpoint(mobile) {
			margin: 0.5em;
		}
	}

	.appIcon {
		width: 50px;
		height: 50px;
		display: inline-block;

		img {
			width: 100%;
			height: auto;
		}
	}

	.appName {
		display: block;
		margin-top: 0.5em;
		font-size: 14px;

		@include breakpoint(mobile) {
			font-size: 12px;
		}
	}
}

@keyframes bounce {
	0%,
	100%,
	20%,
	50%,
	80% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
