@import '../../style/helper';

.contactWidget {
	background: rgba($green, 0.65);
	position: fixed;
	bottom: -5px;
	right: 10%;
	font-size: 22px;
	padding: 5px 15px;
	font-family: $headline-font;
	color: $white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	z-index: 1;
	display: flex;

	&:hover {
		background: rgba($green, 1);
		box-shadow: 0 1px 15px 0 rgba($darker-gray, 0.4);
	}

	@include breakpoint(mobile) {
		transform: rotate(270deg);
		text-transform: uppercase;
		right: unset;
		bottom: unset;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
		top: calc(75% - 70px);
		left: -80px;
		line-height: 26px;
		background: $green;
		padding: 5px 15px 2px;
		box-shadow: 0 1px 15px 0 rgba($darker-gray, 0.4);
	}

	svg {
		width: 30px;
		height: 30px;
		line-height: 30px;
		margin: 0 10px 0 0;
		@include breakpoint(mobile) {
			display: none;
		}
	}
}

.formWrapper {
	max-width: 600px;
	margin: 0 auto;

	@include breakpoint(mobile) {
		max-width: 100%;
		width: 100%;
	}

	form {
		color: $white;
		background-color: rgba($darker-gray, 0.75);

		& > div {
			margin-bottom: 1em;
		}

		input[type='checkbox'],
		label[for='drip-eu-consent'] {
			display: inline;
			font-weight: normal;
			text-align: left;
			color: $white;
		}

		input[type='submit'] {
			@include button;
		}

		label {
			text-align: left;
			color: darken($white, 5%);
		}
	}
}
