@import '../../style/helper';

.priceSliderWrapper {
	display: block;
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	padding-top: 35px;

	@include breakpoint(mobile) {
		max-width: 100%;
		padding: 35px 35px 0 35px;
	}
}

.useSliderHint {
	img {
		position: absolute;
		max-width: 80px;
		transform: rotate(200deg);
		top: 110px;
		left: -80px;
		animation-name: pulsate;
		animation-iteration-count: infinite;
		animation-duration: 1s;

		@include breakpoint(mobile) {
			max-width: 40px;
			left: 0;
			top: 120px;
		}
	}

	&:after {
		content: attr(data-label);
		position: absolute;
		left: -100px;
		font-family: $headline-font;
		width: 100px;
		text-align: center;

		@include breakpoint(mobile) {
			font-size: 10px;
			top: 70px;
			left: -10px;
			width: 40px;
			line-height: 1;
		}
	}
}

.mostPopular:after {
	content: attr(data-label);
	position: absolute;
	right: -130px;
	transform: rotate(18deg);
	font-family: $headline-font;
	border: solid 7px $red;
	align-self: center;
	background: transparent;
	padding: 1rem 1rem;
	margin: 0 1rem;
	transition: all 0.5s ease;
	color: $red;
	font-size: 18px;
	letter-spacing: 1px;
	outline: none;
	box-shadow: 0 0 25px 0px hsla(0, 0%, 0%, 0.2);
	border-radius: 10px;
	animation: shake 1.5s infinite;
	@include breakpoint(mobile) {
		font-size: 8px;
		border: solid 7px rgba(255, 0, 0, 0.6);
		padding: 2px;
		top: -20px;
		right: -10px;
		margin: 0;
	}
}

.videoLength {
	font-size: 32px;
	font-family: $headline-font;
	text-align: center;
	margin-bottom: 0;

	@include breakpoint(mobile-small) {
		font-size: 20px;
	}
}

.priceWrapper {
	text-align: center;
	@include breakpoint(mobile) {
		height: 81px;
	}
}

.perfectFor {
	span {
		font-weight: bold;
	}
}

.askForQuote {
	text-align: center;
	font-size: 28px;
	font-family: $headline-font;
	line-height: 81px;

	@include breakpoint(mobile) {
		font-size: 22px;
		line-height: 81px;
	}
}

.save {
	color: $dark-gray;
	font-size: 28px;
	font-family: $headline-font;
	text-align: center;
	margin: 0;
	display: inline-block;
	margin-left: 15px;
	position: relative;
	text-decoration: line-through;

	sup {
		font-size: 16px;
	}

	@include breakpoint(mobile) {
		font-size: 22px;
	}
}

.price {
	font-size: 28px;
	font-family: $headline-font;
	color: $red;
	text-align: center;
	margin: 0;
	display: inline-block;
	position: relative;

	sup {
		font-size: 16px;
	}

	@include breakpoint(mobile) {
		font-size: 22px;
	}
}

@keyframes shake {
	10%,
	90% {
		transform: rotate(16deg);
	}

	20%,
	80% {
		transform: rotate(19deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(12deg);
	}

	40%,
	60% {
		transform: rotate(22deg);
	}
}
