@import '../../style/helper';

$size: 35px;
$size-mobile: 15px;
$ratio: 1.2;
$transition-time: 0.3s;
$background: #f9f9f9;
$foreground: $green;

$foreground-light: #34495e;

.iconPlay {
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: ($size * $ratio) solid $foreground;
  position: absolute;
  z-index: 1;
  transition: all $transition-time;
  left: calc(50% - 16px);
  top: calc(50% - 35px);

  @include breakpoint(mobile) {
    border-top: $size-mobile solid transparent;
    border-bottom: $size-mobile solid transparent;
    border-left: ($size-mobile * $ratio) solid $foreground;
    left: calc(50% - 9px);
    top: calc(50% - 13px);
  }

  &:before {
    content: '';
    position: absolute;
    top: ($size * -1.5);
    left: ($size * -2.3);
    bottom: ($size * -1.5);
    right: ($size * -0.7);
    border-radius: 50%;
    border: ($size * 0.2) solid $foreground;
    z-index: 2;
    transition: all $transition-time;

    @include breakpoint(mobile) {
      top: ($size-mobile * -1.5);
      left: ($size-mobile * -2.3);
      bottom: ($size-mobile * -1.5);
      right: ($size-mobile * -0.7);
      border: ($size-mobile * 0.2) solid $foreground;
    }
  }
  &:after {
    content: '';
    opacity: 0;
    transition: opacity ($transition-time * 2);
  }

  &:hover,
  &:focus {
    &:before {
      transform: scale(1.1);
    }
  }

  &.active {
    border-color: transparent;
    &:after {
      content: '';
      opacity: 1;
      width: ($size);
      height: ($size * 1.6);
      background: $foreground;
      position: absolute;
      right: ($size * 0.1);
      top: ($size * -0.8);
      border-left: ($size * 0.4) solid $foreground;
      box-shadow: inset ($size * 0.6) 0 0 0 $background;

      @include breakpoint(mobile) {
        width: ($size-mobile);
        height: ($size-mobile * 1.6);
        right: ($size-mobile * 0.1);
        top: ($size-mobile * -0.8);
        border-left: ($size-mobile * 0.4) solid $foreground;
        box-shadow: inset ($size-mobile * 0.6) 0 0 0 $background;
      }
    }
  }
}

.videoWrapper {
  max-width: 600px;
  margin: 1em auto 1em;
  box-shadow: 0 0 50px $dark-gray;
  border-radius: 25px;
  overflow: hidden;
}

.embedContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  img {
    width: 100%;
    height: auto;
  }

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
