@import '../../style/helper';

.modal {
	position: fixed;
	background: rgba($black, 0.9);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 4;
	transform: translateX(0) translateY(0);
	transition: all 3s;
}

.modalBody {
	background: transparent;
	text-align: center;
}

.modalClose {
	background: transparent;
	margin: 0.5em 0;
	display: block;
	height: 50px;
	font-weight: bold;
	a {
		color: rgba($white, 0.25);
		cursor: pointer;
		font-size: 32px;
		position: absolute;
		right: 20px;
		height: 32px;
		width: 32px;
		line-height: 32px;
		text-align: center;
		transition: all 0.25s ease-in-out;

		@include breakpoint(small) {
		}

		&:hover {
			color: rgba($white, 1);
		}
	}
}
