@import '../../style/helper';

.orderForm {
  margin: 25px 0;

  .secondLabel {
    position: absolute;
    opacity: 0.5;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 100%;
    grid-gap: 20px;
    margin: 0;

    textarea {
      resize: none;
    }

    @include breakpoint(mobile) {
      display: block;
    }
  }

  .hint {
    line-height: 1.2;
    text-align: center;
    grid-column: span 2;
    margin: 0;

    @include breakpoint(mobile) {
      margin-bottom: 1em;
    }
  }

  .languageWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .consent {
    grid-column: span 2;
    text-align: center;
    input {
      width: auto;
    }
    label {
      display: inline;
      font-weight: normal;
      color: $black;
    }
  }
}
