@import '../../style/helper';

$size: 25px;
$size-mobile: 15px;
$ratio: 1.2;
$transition-time: 0.3s;
$background: transparent;
$foreground: $green;

$foreground-light: #34495e;

.iconPlay {
	width: 0;
	height: 0;
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-left: ($size * $ratio) solid $foreground;
	position: absolute;
	z-index: 1;
	transition: all $transition-time;
	left: calc(50% - 12px);
	top: calc(50% - 25px);

	@include breakpoint(mobile) {
		border-top: $size-mobile solid transparent;
		border-bottom: $size-mobile solid transparent;
		border-left: ($size-mobile * $ratio) solid $foreground;
		left: calc(50% - 10px);
		top: calc(50% - 15px);
	}

	&:before {
		content: '';
		position: absolute;
		top: ($size * -1.5);
		left: ($size * -2.3);
		bottom: ($size * -1.5);
		right: ($size * -0.7);
		border-radius: 50%;
		border: ($size * 0.2) solid $foreground;
		z-index: 2;
		transition: all $transition-time;

		@include breakpoint(mobile) {
			top: ($size-mobile * -1.5);
			left: ($size-mobile * -2.3);
			bottom: ($size-mobile * -1.5);
			right: ($size-mobile * -0.7);
			border: ($size-mobile * 0.2) solid $foreground;
		}
	}
	&:after {
		content: '';
		opacity: 0;
		transition: opacity ($transition-time * 2);
	}

	&:hover,
	&:focus {
		&:before {
			transform: scale(1.1);
		}
	}

	&.active {
		border-color: transparent;
		&:after {
			content: '';
			opacity: 1;
			width: ($size);
			height: ($size * 1.6);
			background: $foreground;
			position: absolute;
			right: ($size * 0.1);
			top: ($size * -0.8);
			border-left: ($size * 0.4) solid $foreground;
			box-shadow: inset ($size * 0.6) 0 0 0 $background;

			@include breakpoint(mobile) {
				width: ($size-mobile);
				height: ($size-mobile * 1.6);
				right: ($size-mobile * 0.1);
				top: ($size-mobile * -0.8);
				border-left: ($size-mobile * 0.4) solid $foreground;
				box-shadow: inset ($size-mobile * 0.6) 0 0 0 $background;
			}
		}
	}
}

.demoVideoWrapper {
	flex: 1;
	position: relative;
	background-color: $white;
	padding: 5px;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
	transition: all 0.25s ease-in-out;
	img {
		transition: all 0.25s ease-in-out;
		filter: grayscale(95%);
	}
	&:hover {
		background-color: $green;
		img {
			filter: grayscale(0%);
		}

		.country {
			filter: grayscale(0%);
		}
	}
	span {
		cursor: pointer;
	}
}

.thumb {
	width: 100%;
	height: auto;
}

.country {
	position: absolute;
	z-index: 2;
	right: -10px;
	text-align: center;
	height: 30px;
	border-radius: 100%;
	top: -10px;
	line-height: 30px;
	font-size: 30px;
	font-weight: bold;
	filter: grayscale(95%);
}

.videoWrapper {
	max-width: 800px;
	margin: 0 auto;
	box-shadow: 0 0 25px $black;
}

.embedContainer {
	background: $white;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.videoWrapperSquare {
	max-width: 450px;
	margin: 0 auto;
	box-shadow: 0 0 25px $black;
}

.embedContainerSquare {
	background: $white;
	position: relative;
	padding-bottom: 100%;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.btn {
	font-size: 20px;
	background: rgba($green, 0.65);
	border: 0 none;
	border-radius: 2px;
	color: $white;
	font-weight: 700;
	margin: 25px auto 0;
	min-width: 200px;
	padding: 12px 24px 10px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	white-space: normal;
	width: auto;
	display: inline-block;
	font-family: $headline-font;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
	&:active,
	&:focus,
	&:visited,
	&:hover {
		color: $white;
	}

	&:hover {
		background: rgba($green, 1);
	}

	@include breakpoint(mobile) {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		margin: 0;
		border-radius: 0;
	}
}
