@import '../../style/helper';

.header {
	display: flex;
	padding: 15px 25px;
}

.headerSimple {
	padding: 15px 25px;
	.brand {
		justify-content: center;
	}

	.nav {
		display: none;
	}
}

.brand {
	order: 1;
	font-size: 26px;
	font-family: $headline-font;
	text-decoration: none;
	color: #000 !important;
	display: flex;
	align-items: center;
	@include breakpoint(mobile) {
		flex-grow: 1;
		justify-content: center;
		font-size: 18px;
	}
	img {
		height: 38px;
		width: 38px;
		margin-right: 10px;
	}
}

.nav {
	order: 2;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	@include breakpoint(mobile) {
		position: fixed;
		z-index: 3;
		bottom: 0;
		left: 0;
		height: 60px;
		width: 100%;
		background: $white;
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
	}
}

.navLink {
	color: $nav-link;
	text-decoration: none;
	font-family: $headline-font;
	transition: all 0.25s ease-in-out;
	margin-right: 20px;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		color: $green;
	}

	&[href='/#order'] {
		color: rgba($green, 1);
	}

	&[href='/contact'] {
		display: none;
	}

	@include breakpoint(mobile) {
		font-size: 10px;
		font-weight: normal;
		margin-right: 0;
		color: $black;
		font-family: $main-font;
		flex: 1 1 0;
		text-align: center;

		&[href='/jobs'],
		&[href='/#team'] {
			display: none;
		}
	}
}

.navIcon {
	display: none;
	@include breakpoint(mobile) {
		display: block;
		height: 18px;
		width: 18px;
		margin: 5px auto;
	}
}
