@import '../../style/helper';

.headline {
	text-align: left;
	font-family: $headline-font;
	margin: 0;
}

.list {
	em {
		font-style: normal;
	}
}

.button {
	@include button;
	padding: 0 15px;
	font-size: 14px;
}

.table {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: $gray;
	padding: 15px;
	& > div {
		margin: 1em 0;
	}

	.header {
		font-family: $headline-font;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}
