@import '../../style/helper';

.testimonial {
  border: 1px solid #dddfe2;
  border-radius: 3px;
  background: #fff;
  padding: 12px 12px 0;
  font-size: 16px;
}

.authorWrapper {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 10px;
}

.details {
  display: grid;
}

.name {
  color: #365899;
  font-weight: bold;
}

.company {
  color: #365899;
  font-weight: bold;
}

.date {
  color: #90949c;
  font-size: 14px;
  text-align: left;
  text-align: left;
  margin: 0;
}

.rating {
  background: #5890ff;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  height: 18px;
  line-height: 18px;
  padding: 2px 6px;
  white-space: nowrap;
}

.separator {
  margin: 0 2px;
  color: #90949c;
  vertical-align: top;
}

.imageWrapper {
  max-width: 40px;
  display: inline-block;
  img {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
  }
}

.testimonialText {
  font-size: 16px;
  line-height: 1.4;
  margin: 12px 0;
}
