<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{document.number}}</title>
  <meta name="pdfkit-page_size" content="A4" />
  <meta name="pdfkit-margin_top" content="13mm" />
  <meta name="pdfkit-margin_right" content="13mm" />
  <meta name="pdfkit-margin_bottom" content="13mm" />
  <meta name="pdfkit-margin_left" content="13mm" />
  <style>
    body {
      padding: 20px;
      background: #fff;
      color: #000;
      font: normal 10pt Tahoma, Geneva, sans-serif;
    }

    h1 {
      font-size: 150%;

      color: {
          {
          account.color_scheme
        }
      }

      ;
      margin: 10px 0;
    }

    p {
      margin: 2px 0;
    }

    address {
      font-style: normal;
    }

    .txt {
      margin: 0;
    }

    table {
      width: 100%;
      border: none;
    }

    table tr td {
      padding: 5px;
    }

    table#items {
      margin: 25px 0;
      border-collapse: collapse;
    }

    table#items thead tr th {
      color: {
          {
          account.color_scheme
        }
      }

      ;
      font-weight: normal;
      padding: 5px;
      border-bottom: 2px solid #666;
    }

    table#items tbody tr td {
      border-bottom: 2px solid #666;
    }

    table#items tfoot tr td {
      text-align: right;
    }

    #details h4 {
      font-size: 100%;
      font-weight: bold;

      color: {
          {
          account.color_scheme
        }
      }

      ;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    #details p {
      margin: 0;
    }

    #paid-stamp {
      margin: 0 0 18px;
    }

    .right {
      text-align: right;
    }

    .center {
      text-align: center;
    }

    .paid {
      padding: 5px 0;
      border-top: 2px solid #666;
      border-bottom: 2px solid #666;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }

    /* css rules for printing */

    @media print {
      body {
        -webkit-print-color-adjust: exact;
      }

      #items tr {
        page-break-inside: avoid;
      }

      #items tfoot {
        display: table-row-group;
      }
    }
  </style>
</head>

<body>
  <table style="font-size:100%">
    <tr>
      <td>{% if account.logo_url != blank %}
        <img src="{{ account.logo_url }}" width="200" />{% endif %}</td>
      <td class="right" style="font-size:150%;">
        {% if document.state == "paid" %}
        <!-- paid state -->
        <p id="paid-stamp">
          <span class="paid">{{paid_stamp}}
            <span>
        </p>
        {% endif %} {{document.issue_date | date}}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3 class="txt">{{account.full_name}}</h3>
        {% if account.tax_id != blank %}
        <p>{{labels.tax_id}}: {{account.tax_id}}</p>{% endif %} {% if account.vat_number != blank %}
        <p>{{labels.vat_number}}: {{account.vat_number}}</p>{% endif %} {% if account.company_number != blank %}
        <p>{{labels.company_number}}: {{account.company_number}}</p>{% endif %}
        <address>{{ account.formatted_address | newline_to_br }}</address>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3 class="txt">{{contact.full_name}}</h3>
        {% if contact.contact_name != "" %}
        <p>
          <strong>{{contact.contact_name}}</strong>
        </p>{% endif %} {% if contact.tax_id != blank %}
        <p>{{labels.tax_id}}: {{contact.tax_id}}</p>{% endif %} {% if contact.vat_number != blank %}
        <p>{{labels.vat_number}}: {{contact.vat_number}}</p>{% endif %}
        <address>{{ contact.formatted_address | newline_to_br }}</address>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h1>{{title}} {{{document.number}}</h1>
        {% if document.po_number != blank %}
        <p>
          <strong>{{labels.po_number}}: </strong>{{document.po_number}}</p>{% endif %} {% if document.subject != blank
        %}
        <p>
          <strong>{{labels.subject}}: </strong>{{ document.subject }}</p>{% endif %}
        {% if contact.country != "DE" %}
        <p>Reverse Charge / Steuerschuldnerschaft des Leistungsempfängers</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table id="items" style="font-size:100%">
          <thead>
            <tr>
              <th scope="col">{{labels.description}}</th>
              <th width="10%">{{labels.quantity}}</th>
              <th width="15%" class="right">{{labels.unit_price}}</th>
              <th width="15%" class="right">{{labels.amount}}</th>
            </tr>
          </thead>
          <tbody>
            {% for item in document.items %}
            <tr>
              <td>{{item.description}}</td>
              <td width="10%" class="center">{{item.quantity | precision}}</td>
              <td width="15%" class="right">{{item.unit_price | precision}}</td>
              <td class="right">{{item.subtotal | money}}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <p>{{labels.subtotal}}: {{document.subtotal | money}}</p>
                {% if document.discount > 0 %}
                <p>{{labels.discount}}: {{document.discount | money}}</p>{% endif %} {% for tax in document.taxes %}
                <p>
                  {{tax.label}}: {{tax.amount | money}} {% if tax.currency != document.currency %} ({{tax.local_amount
                  | money}}){% endif %}
                </p>
                {% endfor %}
                <p>{{labels.total}}: {{document.total | money}}</p>
              </td>
            </tr>
          </tfoot>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2" id="details">
        {% if document.due_date != blank %}
        <h4>{{labels.due_date}}</h4>
        <p>{{document.due_date | date}}</p>
        {% endif %} {% if document.valid_until != blank %}
        <h4>{{labels.valid_until}}</h4>
        <p>{{document.valid_until | date}}</p>
        {% endif %} {% if document.payment_details != blank %}
        <h4>{{labels.payment_details}}</h4>
        <p>{{document.payment_details | textilize}}</p>
        {% elsif document.state == "paid" %}
        <h4>{{labels.payment_details}}</h4>
        <p>{% assign payment = document.payments | last %}{{ payment.payment_method_text | textilize }}</p>
        {% endif %} {% if document.notes != blank %}
        <h4>{{labels.notes}}</h4>
        <p>{{document.notes | textilize}}</p>
        {% endif %}

        <h4>Currency / Währung</h4>
        <p>All listed prices are either in United States Dollars (Code: USD, Sign: $) or Euro (Code: EUR, Sign:
          &euro;).</p>
        <p>Alle Preise sind entweder US-Dollar (Abkürzung: USD, Symbol: $) oder in Euro (Abkürzung: EUR, Sign: &euro;).</p>

        <h4>Wire Transfer / Banküberweisung</h4>
        <p>Bank Name: N26 Bank GmbH</p>
        <p>IBAN: DE96 1001 1001 2628 2128 92</p>
        <p>BIC: NTSBDEB1XXX</p>
      </td>
    </tr>
  </table>
</body>

</html>