@import '../../style/helper';

.spinner {
	border-radius: 50%;
	width: 124px;
	height: 124px;
	margin: 40px auto;
	font-size: 10px;
	position: relative;
	border-top: 1.1em solid $gray;
	border-right: 1.1em solid $gray;
	border-bottom: 1.1em solid $gray;
	border-left: 1.1em solid $green;
	transform: translateZ(0);
	animation: spinner 1.1s infinite linear;
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}